header {
    background-color: lightblue;
    color: #fff;
    padding: 10px 0;
    border: solid 5px pink;

}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0 20px;
}
nav a {
    text-decoration: none;
    color: #fff;
}
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
img {
max-width: 30%;
}
footer {
text-align: center;
padding: 10px;
background-color: lightblue;
color: #fff;
border: solid 5px pink;
}

p{
    color: blueviolet;
}

h1{
    color: brown;
}
h2{
    color: brown;
}
h3{
    color: brown;
}